/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
min-width: 1024px;
margin: 0 auto;


}
.container-flex {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
    
    
}

.nav-flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    
    
}

header{
    min-width: 1200px; 
    height: 80px;
    background-color: aqua;
}

a {
    text-decoration: none;
}

.link-vari {
    padding: 10px;
    margin: 10px;
}

.button-properties {
    border-radius: 25px;
}

.blue-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: cover;
    background-color: blue;
}

.pink-box {
    background-color: pink;
    width: 900px;
    height: 400px;


}

.section-1 {
    display: flex;
    width: 1024px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.img {
    width: 65%;
    height: 400px;
    background-color: lightblue;
}

.h2 {
    width: 35%;
    height: 400px;
    background-color: lightpink;
}























/* Debug */
.debug header{
    min-width: 1200px; 
    height: 80px;
    background-color: aqua;

}

.debug nav {
    background-color: orange;
}





